---
import Digits from './Digits.astro';
import Clockmenu from './Clockmenu.astro';
/* 
todo : 
- chime
- complementary / analogous colours
- random theme
*/
---

<script is:inline>
  const fonts =
    'system,humanist,industrial,serif,geometric,rounded,mono-serif,mono-code,didone,antique,old-style,transitional'.split(
      ',',
    );

  const defaults = {
    hue: 60,
    weight: 800,
    fontSize: 26,
  };

  const shufflePeriodOptions = ['off', 1, 5, 10, 15, 20, 60];

  const colorModes = ['pastel', 'colourful', 'B&W'];

  const pastelColors = (h) => {
    const a = `hsl(${h}, 100%, 85%)`;
    const b = `hsl(${(h + 360 - 25) % 360}, 60%, 35%)`;
    return [a, b];
  };

  const colourful = (h) => {
    const a = `hsl(${h}, 100%, 70%)`;
    const b = `hsl(${(h + 360 - 55) % 360}, 60%, 35%)`;
    return [a, b];
  };
  document.addEventListener('alpine:init', () => {
    Alpine.data('digital', () => ({
      showMenu: true,
      font: fonts[0],
      weight: defaults.weight,
      hue: defaults.hue,
      darkMode: false,
      colorMode: colorModes[0],
      fontSize: defaults.fontSize,
      shufflePeriod: shufflePeriodOptions[0],
      shuffleLast: null,
      get colors() {
        const h = parseInt(this.hue);
        let a, b;
        if (this.colorMode === 'pastel') [a, b] = pastelColors(h);
        if (this.colorMode === 'colourful') [a, b] = colourful(h);
        if (this.colorMode === 'B&W') {
          a = `hsl(${h}, 100%, 100%)`;
          b = `hsl(${h}, 100%, 0%)`;
        }
        const bg = this.darkMode ? b : a;
        const fg = this.darkMode ? a : b;
        return { bg: bg, text: fg };
      },
      init() {
        this.font = localStorage.getItem('font') || fonts[0];
        this.weight = localStorage.getItem('weight') || defaults.weight;
        this.hue = localStorage.getItem('hue') || defaults.hue;
        this.colorMode = localStorage.getItem('colorMode') || defaults.colorMode;
        this.fontSize = localStorage.getItem('fontSize') || defaults.fontSize;
        this.shufflePeriod =
          localStorage.getItem('shufflePeriod') === 'off'
            ? 'off'
            : parseInt(localStorage.getItem('shufflePeriod') || shufflePeriodOptions[0]);
        this.darkMode = localStorage.getItem('darkMode') === 'true' || false;

        // sync storage
        Alpine.effect(() => {
          localStorage.setItem('font', this.font);
          localStorage.setItem('weight', this.weight);
          localStorage.setItem('hue', this.hue);
          localStorage.setItem('colorMode', this.colorMode);
          localStorage.setItem('fontSize', this.fontSize);
          localStorage.setItem('shufflePeriod', this.shufflePeriod);
          localStorage.setItem('darkMode', this.darkMode);
        });
      },
      shuffle() {
        const f = Math.floor(Math.random() * (fonts.length - 1));
        const w = Math.floor(Math.random() * 9) * 100 + 100;
        this.font = fonts[f];
        this.weight = w;
        this.hue = Math.floor(Math.random() * 360);
      },
    }));
  });
</script>
<div class="relative h-screen" x-data="digital">
  <!-- Clock Display -->
  <Digits />

  <!-- Settings Button -->
  <button
    @click="showMenu = !showMenu"
    class="absolute top-3 right-3 p-4 text-xl bg-transparent border-none transition-transform hover:scale-110"
    aria-label="Settings"
    :style="`color: ${colors.text};`"
  >
    ...
  </button>

  <!-- Settings Menu -->
  <div
    class="absolute w-[16rem] top-0 right-0 bg-[#fff8] rounded-lg p-4 shadow-lg z-20 flex flex-col gap-3 max-h-[calc(100vh-1.5rem)] overflow-y-auto text-xs text-gray-600"
    x-show="showMenu"
    @click.away="showMenu = false"
  >
    <Clockmenu />
  </div>
</div>
